.navbar {
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    float: none;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

#container {
    padding-top: 75px;
}