body {
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.modal-body-touch {
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (min-height: 600px) {
  .modal-body-touch {
    max-height: 500px;
  }
}

@media (min-height: 800px) {
  .modal-body-touch {
    max-height: 700px;
  }
}

@media (min-height: 1000px) {
  .modal-body-touch {
    max-height: 800px;
  }
}

@media (min-height: 1200px) {
  .modal-body-touch-body {
    max-height: 1000px;
  }
}