@(token:String)(changedOrNot:Integer)
@template("change password") {
} {
  <br>
  <div class="container">
   <div class="text-center">
    <div class="bs-docs-section">
      <div class="row">
        <div class="col-xs-12">
          <div class="well bs-component">
            <form class="form-horizontal" method="post" action="@routes.Application.changePasswordAction(token)">
              <fieldset>
                <legend>Change password</legend>
                <h4>Enter a new password to proceed with changing your old password</h4><br>
                <div class="form-group">
                  <label for="email" class="control-label">Specify your new password</label>
                    <input type="password" class="form-control" id="password1" placeholder="new password" name="password1">
                  <br>
                    <input type="password" class="form-control" id="password2" placeholder="new password" name="password2">
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <form action="javascript:alert( 'success!' );">
                      <button type="submit" id="submit_id" class="btn btn-primary">Change</button>
                      <p><font id="error_id1" color="red"></font></p>
                      <p><font id="error_id2" color="red"></font></p>
                    </form>
                  </div>
                </div>
              </fieldset>
            </form>
            @if(changedOrNot==1){
              <h4> successfully changed password</h4>
            }
            @if(changedOrNot==2){
              <h4> couldn't change password (maybe the new passwords you entered aren't the same, or your Link is too old?)</h4>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
    <a href="@routes.Application.login()" class="btn btn-default">&larr; go to login</a>
</div>

  <script>
     $( "#submit_id").click(function( event ) {
        if ( $( "#password1" ).val() != "" && $( "#password2" ).val() != "") {
             $( "span" ).text( "Changing..." ).show();
               return;
        }else {
            if ( $ ( "#password1" ).val ( ) == "" ) {
               $ ( "#error_id1" ).text ( "password missing!" ).show ( ).fadeOut ( 5000 ) ;
            }
            if ( $ ( "#password2" ).val ( ) == "" ) {
               $ ( "#error_id2" ).text ( "password missing!" ).show ( ).fadeOut ( 5000 ) ;
            }
            event.preventDefault ( ) ;
        }
      });
    </script>
}