@(sentornot: Integer)(email: String)
@template("forgot password") {
} {
  <div class="container text-center">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg">
            <div class="well bs-component">
              <form class="form-horizontal"  method="post" action="@routes.Application.forgotPasswordSend()">
                <fieldset>
                  <legend>Forgot Password</legend>
                  <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Specify your email adress</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <form action="javascript:alert( 'success!' );">
                        <button type="submit" id="submit_id" class="btn btn-primary">Send</button>
                        <p><font id="error_id1" color="red"></font></p>
                      </form>
                    </div>
                  </div>
                </fieldset>
              </form>
              @if(sentornot==2){
                <h4> couldn't sent email to <em> @email</em></h4>
              }
              @if(sentornot==1){
                <h4> successfully sent email to <em> @email</em></h4>
              }
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <ul class="pager">
              <li class="previous"><a href="@routes.Application.login()">&larr; back</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>


  <script>
     $( "#submit_id").click(function( event ) {
        if ( $( "#email" ).val() != "") {
             $( "span" ).text( "Sending..." ).show();
               return;
        }else {
            if ( $ ( "#email" ).val ( ) == "" ) {
               $ ( "#error_id1" ).text ( "Email address missing!" ).show ( ).fadeOut ( 5000 ) ;
            }
            event.preventDefault ( ) ;
        }
      });
    </script>
}