@(userlist:List[User])
@template_with_navbar("Friends") {
} {
    <style>
    #buttons{
        padding-top:5px;
        margin-left:-50px;
    }
    .btn{min-width:50px}

    </style>
    <div class="text-center">
        @if(userlist.length==0){
            <h3> You don't have any friends </h3>
        }
        <br>
          @for(friend<-userlist){
              <div class="row">
                  <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="col-xs-5">
                                  <h4>@friend.getName</h4>
                              </div>
                              <div class="col-xs-7">
                                  <a href="@routes.Application.addGameMenu(friend.getName())" class="btn btn-info pull-right">New game  <span class="glyphicon glyphicon-globe"></span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          }
    </div>
    <a href="@routes.Application.index()" class="btn btn-default">&larr; back</a>
}
