@(currentpage: Integer)(maxpage: Integer)(pictures: List[Picture])
@blank("Gallery") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

    <style>
    #img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    }

    #img_button_l {
    position:absolute;
    bottom:5px;
    left:5px;
    width:45px;
    opacity:0.9;
    }

    #img_button_r {
    position:absolute;
    bottom:5px;
    left:50px;
    width:45px;
    opacity:0.9;
    }
    </style>
} {
    <div class="row centered-form center-block">
        <div class="container col-md-11 col-md-offset-1">
            @for(picture<-pictures) {
                @if(picture!=null) {
                    <div id="img_container">
                        <a href="@routes.Application.picture(picture.getId())" title="@picture.getTitle()" data-gallery="">
                        <img class="img-thumbnail" src="@routes.Application.thumbnail(picture.getId())" width="100px" height="100px">
                        </a>
                        <button type="button" id="img_button_l" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal@(picture.getId()-pictures.head.getId())">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" id="img_button_r" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal@(picture.getId()-pictures.head.getId())">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal@(picture.getId()-pictures.head.getId())" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="@routes.Application.gallery_edit()" method="POST">
                                    <input type="hidden" value="@picture.getId" name="id" />
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3>Modify data</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="title" class="control-label">Title:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" name="accepted" @if(picture.isAccepted()){checked}>
                                                    </span>
                                                    <input type="text" class="form-control input-lg" name="title" value="@picture.getTitle()">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="control-label">Description:</label>
                                                <textarea class="form-control" name="description">@picture.getDescription()</textarea>
                                            </div>
                                        </div>
                                        <iframe src="@routes.Application.map(0L)" id="myiframe@(picture.getId()-pictures.head.getId())" width="100%" height="250px" frameborder="0"></iframe>
                                        <div class="form-group">
                                            <label for="latitude" class="control-label">Latitude:</label>
                                            <input type="text" class="form-control" id="latitude@(picture.getId()-pictures.head.getId())" name="latitude" value="@picture.getLat()">
                                        </div>
                                        <div class="form-group">
                                            <label for="longitude" class="control-label">Longitude:</label>
                                            <input type="text" class="form-control" id="longitude@(picture.getId()-pictures.head.getId())" name="longitude" value="@picture.getLng()">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal@(picture.getId()-pictures.head.getId())" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">@picture.getTitle()</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete @picture.getTitle()?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a href="@routes.Application.gallery_delete(picture.getId())" class="btn btn-danger">Delete</a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                }
            }
        </div>
    </div>
    <br>
    <div class="text-center">
        <ul class="pagination">
            @if(currentpage==1) {
                <li class="disabled"><a href="#">&laquo;</a></li>
            } else {
                <li><a href="@routes.Application.gallery(currentpage-1)">&laquo;</a></li>
            }
            @for(i <- 1 to maxpage) {
                @if(i==currentpage) {
                    <li class="active">
                } else {
                    <li>
                }
                <a href="@routes.Application.gallery(i)">@i</a></li>
            }
            @if(currentpage==maxpage) {
                <li class="disabled"><a href="#">&raquo;</a></li>
            } else {
                <li><a href="@routes.Application.gallery(currentpage+1)">&raquo;</a></li>
            }
        </ul>
    </div>
        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
        <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                    Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
        <!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.blueimp-gallery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-image-gallery.js")"></script>
    <script src="@routes.Assets.at("javascripts/mygallery.js")"></script>

    <script>
        for(var i=0; i<10; i++) {
            $('#editModal'+i).on('hidden.bs.modal', function () {
                $.get("/clearLocation");
            });

            $('#editModal'+i).on('shown.bs.modal', (function(index){
                return function() {
                    inputOnChange(index);
                };
            })(i));

            $('#latitude'+i).on('input', (function(index){
                return function() {
                    inputOnChange(index);
                };
            })(i));

            $('#longitude'+i).on('input',(function(index){
                return function() {
                    inputOnChange(index);
                };
            })(i));
        }

        $(document).ready(function () {
            for(var i=0; i<10; i++) {
                //Using closures to capture each one
                $('#myiframe'+i).on("load", (function(index){
                    return function() {
                        $('#myiframe'+index).contents().click(function (event) {
                            $('#myiframe'+index).trigger("click");
                        });
                    };
                })(i));

                $('#myiframe'+i).click((function(index){
                    return function() {
                        updateLatLng(index);
                    };
                })(i));
            }
        });

        function inputOnChange(index) {
            var lat=$('#latitude'+index).val();
            var lng=$('#longitude'+index).val();
            $.get("/setLocation/"+lat+"/"+lng).done(function() {
                // hackishly force iframe to reload
                var iframe = document.getElementById("myiframe"+index);
                iframe.src = iframe.src;
            });
        }

        function updateLatLng(index) {
            var lat = window.frames[index].window.lat;
            var lng = window.frames[index].window.lng;
            if (lng!= 'undefined' && lng!=null && lat !=null && lat !='undefined'){
                $('#latitude'+index).val(lat);
                $('#longitude'+index).val(lng);
            }
        }
    </script>
}
