@(id: Long)
@template("Game") {
} {

    <iframe src="@routes.Application.map(id)" width="100%" height="360px" frameborder="0"></iframe>

    <form action="@routes.Application.practiseAction(id)" method="post">
        <button type="submit" class="btn btn-default btn-block" id="countdown"></button>
    </form>

    <script>
        var count=60;
        setInterval(function() {
            $("#countdown").html("Submit (" +count+")");
            count = count - 1;
            if (count <= 0) {
                count=0;
                window.location.replace("@routes.Application.result(id)");
            }
        },1000);
    </script>
}