@template_with_navbar("Where Am I") {

} {

    <head>
        <script>
        addToHomescreen({
        displayPace:1140}); //minutes, before message is shown again (shows the annoying message only once a day)
        </script>

    </head>
    <body>
    <div class="text-center">
        <br>
        <a href="@routes.Application.play_menu()" class="btn btn-lg btn-block btn-default">Play</a><br/>
        <a href="@routes.Application.upload()" class="btn btn-lg btn-block btn-default">Upload</a><br/>
        <a href="#" class="btn btn-lg btn-block btn-default">Statistics</a>
    </div>
    </body>

}