@template_with_navbar("Start a new game") {

} {
    <div class="text-center">

        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Invite a friend <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Application.search_user("")">Search from friendlist</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.send_email()">Send an email to a new friend</a></li>
            </ul>
        </div>
        <br>
        <br>

        <a href="#" type="button" class="btn  btn-lg btn-default">Random</a>
    </div>
}