@(readyToPlay:List[Game])(pending:List[Game])
@template_with_navbar("Play") {

} {
    <div class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Start a new game<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Application.search_user("")">Search from friendlist</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.send_email()">Send an email to a new friend</a></li>
                <li class="divider"></li>
                <li><a href="#">Random</a></li>
            </ul>
        </div>
        <a href="@routes.Application.practise()" type="button" class="btn  btn-default">Practise</a><br/><br/>
            @if(readyToPlay.length!=0) {
                <h4><p class="text-primary">Your current open games:</p></h4> <br/>
            }
            <div class="list-group">
            @for(readyToPlayGame<-readyToPlay) {
                @if(readyToPlayGame.getUser2.getName()==session.get("username")){
                    <strong><p class="text-success">@readyToPlayGame.getUser1.getName (Round @readyToPlayGame.getRound)</p></strong><a href="@routes.Application.game(readyToPlayGame.getId())" class="list-group-item">Play</a><br><br>
                }else{
                    <strong><p class="text-success">@readyToPlayGame.getUser2.getName (Round @readyToPlayGame.getRound)</p></strong><a href="@routes.Application.game(readyToPlayGame.getId())" class="list-group-item">Play</a><br><br>
            }
            }
            </div>

            <div class="list-group">
                @if(pending.length!=0) {
                    <h4><p class="text-primary">Pending:</p></h4> <br/>
                }
                <div class="list-group">
                @for(pendingGame<-pending) {
                    @if(pendingGame.getUser2.getName()==session.get("username")){
                        <p class="text-warning">@pendingGame.getUser1.getName (Round @pendingGame.getRound) </p><br/><br/>
                    }else{
                        <p class="text-warning">@pendingGame.getUser2.getName (Round @pendingGame.getRound) </p><br/><br/>
                        }
                }
                </div>
            </div>

        <div class="col-lg-4">
            <div class="bs-component">
                <ul class="pager">
                    <li class="previous"><a href="@routes.Application.index()">&larr; back</a></li>
                </ul>
            </div>
        </div>
    </div>
}