@(list:List[Game])
@template_with_navbar("Play") {

} {
    <div class="text-center">
        <a href="@routes.Application.new_game_menu()" class="btn  btn-default">Start a new game</a>
        <a href="@routes.Application.practise()" type="button" class="btn  btn-default">Practise</a><br/><br/>
        <h4><p  class="text-primary">Your current open games:</p></h4><br/>
            <div class="list-group">
            @for(game<-list) {
                <p class="text-warning">@game.getUser2.getName<br/>Round: @game.getRound</p><a href="" class="list-group-item">Play</a><br><br>
            }
            </div>


    </div>
}