@(pictureID: Long)
    @template("Game") {
        <style>
            form {
                margin-top:-5px;
            }
            button {
                height: 50px;
            }
        </style>
    } {
        <script type="text/javascript">
        var windowHeight= window.innerHeight || document.body.clientHeight;
        var mapHeight=windowHeight-48;

        document.write ('<iframe src="@routes.Application.map(pictureID)" width="100%" height="'+mapHeight+'px" frameborder="0"></iframe>');
        </script>
        <form action="@routes.Application.practiseAction(pictureID)" method="post">
            <button type="submit" class="btn btn-primary btn-block" id="countdown">Submit</button>
        </form>
    }