@(pictureID: Long)
    @template("Game") {
    } {
        <script type="text/javascript">
        var windowHeight= window.innerHeight || document.body.clientHeight;
        var mapHeight=windowHeight-50;

        document.write ('<iframe src="@routes.Application.map(pictureID)" width="100%" height="'+mapHeight+'px" frameborder="0"></iframe>');


        </script>
        <form action="@routes.Application.practiseAction(pictureID)" method="post">
            <button type="submit" class="btn btn-default btn-block" id="countdown">Submit</button>
        </form>
    }