@(suchbegriff: String, userlist: List[User])
@template_with_navbar("Search a user") {
    <style>
        .mybtn {
            width:100%;
            min-width: 45px;
        }

        .btn-sm {
            margin-top:5px;
        }
    </style>
} {
    <div class="container-fluid text-center">
        <div class="bs-docs-section">
            <div class="row">
              <div class="col-xs-12">
                <div class="page-header">
                  <h2 id="forms">Search a user</h2>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
              <form class="form-horizontal">
                <fieldset>
                    <div class="input-group">
                      <input type="text" name="suchbegriff" class="form-control" placeholder="Search for..." id="input"> </input>
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                    <br />
                </fieldset>
              </form>
              <div class="list-group" id="listdiv">
              @for(user<-userlist) {
                  <div class="row">
                      <div class="col-xs-12">
                        <div class="panel panel-default">
                             <div class="panel-body">
                                <div class="col-xs-6"><h4>@user.getName()</h4></div>
                                <div class="col-xs-3">
                                    <a href="@routes.Application.addFriend(user.getName())" class="btn btn-sm btn-success mybtn"><span class="glyphicon glyphicon-user"></span></a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="@routes.Application.addGameMenu(user.getName())" class="btn btn-sm btn-info mybtn"><span class="glyphicon glyphicon-globe"></span></a>
                                </div>
                             </div>
                        </div>
                      </div>
                  </div>
              }
              </div>
        </div>
    </div>
    <a href="@routes.Application.index()" class="btn btn-default">&larr; back</a>


  <script>
     $('#input').keyup(function(){
       var longstr = "";
       if($('#input').val().length>2){
            $.get( "/setUser/"+$('#input').val(), function( data ) {
                $("#listdiv").finish();
                var arr = data.split(" ");
                var i;
                for(i=0; i<arr.length-1;i++){
                    longstr+='<div class="row">';
                    longstr+='<div class="col-xs-12">';
                    longstr+='<div class="panel panel-default">';
                    longstr+='<div class="panel-body">';
                    longstr+='<div class="col-xs-6"><h4>'+arr[i]+'</h4></div>';
                    longstr+='<div class="col-xs-3">';
                    longstr+='<a href="/addFriend?user='+arr[i]+'" class="btn btn-sm btn-success mybtn"><span class="glyphicon glyphicon-user"></span></a>';
                    longstr+='</div>';
                    longstr+='<div class="col-xs-3">';
                    longstr+='<a href="/addGameMenu?user='+arr[i]+'" class="btn btn-sm btn-info mybtn"><span class="glyphicon glyphicon-globe"></span></a>';
                    longstr+='</div>';
                    longstr+='</div>';
                    longstr+='</div>';
                    longstr+='</div>';
                    longstr+='</div>';
                }
                longstr+='</div>';

                if(arr.length==1) {
                    longstr="<p>nothing found...</p>";
                }

                if($("#listdiv").html()!=longstr) {
                    $("#listdiv").animate({opacity:"0.0"}, function(){
                        $("#listdiv").html(longstr);
                    });
                    $("#listdiv").animate({opacity:"1.0"});
                }
            });
       }
       else{
           longstr="<p>enter at least 3 characters</p>";
           $("#listdiv").html(longstr);
       }

     });
  </script>
}