@template_with_navbar("Send an Invitation") {
} {
    <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-10">
            <div class="bs-component">
              <form class="form-horizontal"  method="post" action="@routes.Application.send_email_action()">
                <fieldset>
                  <div class="form-group">
                      <br><br>
                    <label for="email" class="col-lg-2 control-label">Send to (email adress)</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <form action="javascript:alert( 'success!' );">
                            <button type="submit" id="submit_id" class="btn btn-primary">Send</button>
                            <p><font id="error_id1" color="red"></font></p>
                        </form>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <ul class="pager">
              <li class="previous"><a href="@routes.Application.play_menu()">&larr; back</a></li>
            </ul>
          </div>
        </div>
    </div>



    <script>
     $( "#submit_id").click(function( event ) {
        if ( $( "#email" ).val() != "") {
             $( "span" ).text( "Sending..." ).show();
               return;
        }else {
            if ( $ ( "#email" ).val ( ) == "" ) {
               $ ( "#error_id1" ).text ( "Email address missing!" ).show ( ).fadeOut ( 5000 ) ;
            }
            event.preventDefault ( ) ;
        }
      });
    </script>
}