@(title: String)(body: Html)
<div id="wrapper">
        <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
                <!--<li class="sidebar-brand">
              <a href="#">
                Start Bootstrap
              </a>
            </li>-->
            <li>
                <a data-toggle="collapse" href="#menuOne"><em>@session.get("username")</em> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                <div class="subitem collapse out" id="menuOne">
                    <a href="@routes.Application.account(0)"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Account</a>
                    <a href="@routes.Application.friends()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Friends</a>
                    <a href="@routes.Application.logout()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Sign out</a>
                </div>
            </li>
            <li>
                <a href="@routes.Application.play_menu()">Play Game</a>
            </li>
            <li>
                <a href="@routes.Application.upload()">Upload Picture</a>
            </li>
            <li>
                <a href="@routes.Application.user_gallery()">Statistics</a>
            </li>
        </ul>
    </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
    <div id="page-content-wrapper">
        <ul class="nav nav-justified">
            <li class="myli"><a id="menu-toggle" href="#menu-toggle"><span class="glyphicon glyphicon-menu-hamburger pull-left" aria-hidden="true"></span></a></li>
            <li class="myli"><a href="@routes.Application.index()">@title</a></li>
            <li class="myli"><a href="@routes.Application.index()"><img class="pull-right" src="@routes.Assets.at("images/logo.png")" width="18px" height="18px"></a></li>
        </ul>
        <div id="container">
            <div class="container-fluid">
            @body
            </div>
        </div>
    </div>
        <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>