@template_with_navbar("Upload") {

} {
    <div class="text-center">
        <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")"></a><br/><br/>
    </div>
    @helper.form(action = routes.Application.uploadAction(), 'enctype -> "multipart/form-data") {
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Step 1: Select or take a photo
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <input type="file" id="file_id" class="filestyle" name="picture">
                        <p id="text_id" >Choose a picture with a maximum of 10MB!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Step 2: Set a location
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <iframe src="@routes.Application.map(0)" width="100%" height="360px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Step 3: Write a description
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <input type="text" class="form-control" placeholder="Title" name="title">
                        <br />
                        <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
                        <br />
                        <button type="submit" id="submit_id" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        $('#file_id').bind('change', function()
        {
        $("#text_id").html('<span style="color:#00aa00"> File ready to upload! </span>');

            if(this.files[0].size>10000000) { //10MB
                $("#text_id").html('<span style="color:#FF0000"> File size too big! </span>');
                $('#file_id').val('');


            }
        var ext = $('#file_id').val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
                $("#text_id").html('<span style="color:#FF0000"> Wrong file type! </span>');
                $('#file_id').val('');

        }
        });
        </script>
    }
}